.character {
    max-width: 300px;
    margin: 10px;
    border-radius: 15px;
    background-color: rgba(70, 67, 67, 0.5);
    color: white;

    &__card{
        position: relative;
        width: 300px;
        height: 300px;

        &__image {
            border-radius: 15px;
        }

        &__name {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            background: #1a1d1ac7;
            text-align: center;
        }
    }

    &__details {
        padding: 20px;
        font-size: smaller;

        .attribute {
            font-weight: 500;
            color: darkorange;
        }
    }
}