.swiper-container {
    width: 80vw;
    height: 500px;
    margin-top: 30px;
    border-radius: 50px;

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: 100%;
        }
    }
}