.swiper-container {
    width: 80vw;
    height: 450px;
    border-radius: 50px;

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 100%;
            border-radius: 50px;
        }
    }
}