mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.menu {
    margin: 10px 20px;
    &__link {
        text-decoration: none;
        color: white;
        padding: 10px 0;
        width: 100px;

        &__icon {
            vertical-align: middle;
        }
    }
}