.wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #bf1757;
    text-align: center;
    padding: 15px;
    h4 {
        font-style: italic;
        margin: 0;
        color: white;
    }
}