:host ::ng-deep {
    h1 {
      margin: 0 0 25px;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
    }
    a {
      display: block;
      text-align: center;
      color: #5e7386;
      font-size: 14px;
    }
  }
  
.auth-form {
  background: rgba(19, 18, 18, 0.6);
  color: #d83987;
  text-align: center;
  border-radius: 3px;
  border-radius: 15px;
  width: 80%;
  margin: 50px auto;
  padding: 30px;

  mat-form-field {
    width: 80%;
  }

  &__action {
    margin: 10px 0 30px;
  }
  &__toggle {
    border-radius: 0 0 3px 3px;
    border-top: 1px solid #c1cedb;
    background: #f8fafc;
    padding: 10px;
    margin: 0 -30px -30px;
  }
}