<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="episode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Episode </th>
        <td mat-cell *matCellDef="let episode"> {{episode.episode}} </td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let episode"> {{episode.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="air_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Air Date </th>
        <td mat-cell *matCellDef="let episode"> {{episode.air_date}} </td>
      </ng-container>
  
      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Url </th>
        <td mat-cell *matCellDef="let episode"> {{episode.url}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let episode; columns: displayedColumns;">
      </tr>
    </table>

    <div [hidden]="dataSource.data?.length" class="no-data-message">
      <div>
        No results found !
      </div>
    </div>
  
    <mat-paginator [length]="dataSource.data.length" [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
</div>