%width {
    width: 90%;
}

table {
    @extend %width;
    margin: 0 auto;
    margin-top: 15px;

    td, th {
        width: 25%;
        vertical-align: middle;
    }
}

mat-paginator {
    @extend %width;
    margin: 0 auto;
    margin-bottom: 15px;
}

.no-data-message {
    background-color: #424242;
    @extend %width;
    div {
        padding: 14px;
        padding-left: 24px;
    }
}