%width {
    width: 100%;
}

h3 {
    color: white;
    font-style: italic;
    margin: 10px 0;
    text-align: center;
}

table {
    @extend %width;
    margin: 0 auto;
    margin-top: 15px;

    td, th {
        width: 25%;
        vertical-align: middle;
    }
}

mat-paginator {
    @extend %width;
    margin: 0 auto;
    margin-bottom: 15px;
}

.no-data-message {
    background-color: #424242;
    @extend %width;
    div {
        padding: 14px;
        padding-left: 24px;
    }
}