// custom color palette

$mat-main-violet: (
  50: #fae7f1,
  100: #f3c4db,
  200: #ec9cc3,
  300: #e474ab,
  400: #de5799,
  500: #d83987,
  600: #d4337f,
  700: #ce2c74,
  800: #c8246a,
  900: #bf1757,
  A100: #fff1f6,
  A200: #ffbed5,
  A400: #ff8bb4,
  A700: #ff72a3,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mat-main-orange: (
  50: #fcf6e0,
  100: #f8e8b3,
  200: #f3d980,
  300: #eeca4d,
  400: #eabe26,
  500: #e6b300,
  600: #fbc02d,
  650: #c49000,
  700: #dfa300,
  800: #db9a00,
  900: #d58b00,
  A100: #fffefc,
  A200: #ffeac9,
  A400: #ffd696,
  A700: #ffcb7d,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mat-main-green: (
  50: #eff5eb,
  100: #d7e7cd,
  200: #bdd7ab,
  300: #a3c689,
  400: #8fba70,
  500: #7bae57,
  600: #73a74f,
  700: #689d46,
  800: #5e943c,
  900: #4b842c,
  A100: #dcffc9,
  A200: #baff96,
  A400: #98ff63,
  A700: #87ff4a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);